<template name="dashboard">
{{#AdminLTE skin="green"}}
  <!-- Main Header -->
  {{> mainHeader}}
  <!-- Left side column. contains the logo and sidebar -->
  {{> mainSidebar}}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {{> yield}}
  </div>
  <!-- /.content-wrapper -->
  <!-- Main Footer -->
  {{> mainFooter}}
  <!-- Control Sidebar -->
  {{> controlSidebar}}
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
{{/AdminLTE}}
</template>

<template name="mainHeader">
  <header class="main-header shadowed">
    <!-- Logo -->
    <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>O</b>cejo</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>O</b>cejo</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
     {{> userHeader}}
    </nav>
  </header>
</template>
<template name="mainSidebar">
  <aside class="main-sidebar shadowed">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{{#if currentUser.profile.image}}{{currentUser.profile.image}}{{else}}/images/user.jpg{{/if}}" class="img-circle" alt="User Image big">
        </div>
        <div class="pull-left info">
          <p>Ocejo</p>
          <!-- Status -->
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <!-- Optionally, you can add icons to the links -->
        {{#if isAdmin}}
          {{> buttonSidebar titulo="Rutas" icono="fa fa-truck" url="/rutas"}}
          {{> buttonSidebar titulo="Ordenes" icono="fa fa-truck" url="/ordenes"}}   
          {{> buttonSidebar titulo="Productos" icono="fa fa-cube" url="/inventario"}}
          {{> treeview titulo="Clientes" icono="fa fa-users" li1="Clientes" li2="Nuevo cliente" href1="/clientes" href2="/registro"}}
        {{else}}
          {{> buttonSidebar titulo="Ordenes" icono="fa fa-truck" url="/ordenes"}}
        {{/if}}
        <li class="treeview">
          <a href="/cliente/{{currentUser._id}}">
            <i class="fa fa-user"></i> 
            <span>Perfil</span>
          </a>
        </li> 
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>
</template>
<template name="mainFooter">
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Ocejo distribuidores
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2016 <a href="#">Ocejo</a>.</strong> Todos los derechos reservados.
  </footer>
</template>
<template name="controlSidebar">
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane active" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript::;">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript::;">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="pull-right-container">
                  <span class="label label-danger pull-right">70%</span>
                </span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
</template>
<template name="buttonSidebar">
  <li class="treeview">
    <a href="{{url}}">
      <i class="{{icono}}"></i> 
      <span>{{titulo}}</span>
    </a>
  </li>
</template>
<template name="treeview">
  <li class="treeview {{#if active}}{{active}}{{/if}}">
    <a href="#">
      <i class="fa {{icono}}"></i> 
      <span>{{titulo}}</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li><a href="{{href1}}">{{li1}}</a></li>
      {{#if li2}}
        <li><a href="{{href2}}">{{li2}}</a></li>
      {{/if}}
    </ul>
  </li>
</template>
<template name="treeview2">
  <li class="treeview {{active}}">
    <a href="#">
      <i class="fa {{icono}}"></i> 
      <span>{{titulo}}</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li><a href="#">{{li1}}</a></li>
      <li><a href="#">{{li2}}</a></li>
      <li><a href="#">{{li3}}</a></li>
      <li><a href="#">{{li4}}</a></li>
      <li><a href="#">{{li5}}</a></li>
    </ul>
  </li>
</template>