svg.producto-tarjeta {
	text-align: center;
	max-width: 90%;
}

svg {
	pointer-events: none; /* so that you can resize the element */
}

text {
	text-anchor: middle;
	pointer-events: auto; /* Cancel the svg’s pointer-events */
}

table tr {
    cursor: pointer;
}

.mt30 {
	margin-top: 30px;
}

.display-hidden {
	display: none!important;
}

.btn-info {
    background-color: #5E8039!important;
    border-color: #5E8039!important;
}

.green-box {
    background-color: #5E8039!important;
    border-color: white !important;
}

.white-text
{
	color: white;
	text-align: center;
}

.mh50 {
	max-height: 50px;
}

.z-depth-3 {
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
}


.search-material {
    min-width: 500px;
    border-radius: 20px!important;
}