<template name="rutas">
	<section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Rutas</h3>
              <a href="#" class="btn btn-info btn-flat pull-right guardar">Crear nueva ruta</a>
            </div>
            <!-- /.box-header -->
            <!--div class="clearfix">
              <a href="#" class="btn btn-block btn-info btn-flat pull-left guardar">Crear nueva ruta</a>
            </div>
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody><tr>
                  <th>Número de Ruta</th>
                  <th>Zona</th>
                  <th>Ciudad</th>
                  <th>Ordenes Contenidas</th>
                  <th>Fecha</th>
                </tr>
                {{#each rutas}}
                  {{> RutaOuter}}
                {{/each}}
              </tbody></table>
            </div-->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
              <div class="icon-addon addon-lg">
                  <input type="date" name="fecha" placeholder="Busca rutas por fecha" class="form-control shadow daterutes">
                  <label class="glyphicon glyphicon-search" rel="tooltip" title="color"></label>
              </div>
          </div>
      </div>
      </div>
      <div class="row">
        {{#each rutas}}
          {{> RutaOuter}}
        {{/each}}
      </div>
    </section>
</template>
<template name="RutaOuter">
  <div class="col-md-3 well green-box">
          <a href="/ruta/{{_id}}" class="white-text">
            <center>
              <h4 class="text-center">{{zona}}</h4>
              <p class="text-center">{{ciudad}}</p>
              <i class="fa fa-truck fa-3x"></i>
              <p class="text-center">{{date}}</p>
            </center>
          </a>
        </div>
</template>