<template name="ClienteInner">
	{{#each cliente}}
		{{> ContentHeaderCliente}}
		{{> ClienteContenido}}
	{{/each}}
</template>

<template name="ContentHeaderCliente">
  <section class="content-header">
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
  </section>
</template>

<template name="ClienteContenido">
	<section class="invoice">
    <div class="box-body box-profile col-md-6">
      <ul class="list-group list-group-unbordered">
        <li class="list-group-item">
          Identificador único de cliente. {{_id}}
        </li>
        <li class="list-group-item">
          <strong>Nombre: </strong>{{> editableText collection="users" field="profile.nombre" acceptEmpty=true substitute='<i class="fa fa-pencil"></i>'}}<br>
        </li>
          <li class="list-group-item">
            <strong>Cliente: </strong>{{> editableText collection="users" field="profile.cliente" acceptEmpty=true substitute='<i class="fa fa-pencil"></i>'}}<br>
        </li>
          <li class="list-group-item">
            <strong>Sucursal: </strong>{{> editableText collection="users" field="profile.sucursal" acceptEmpty=true substitute='<i class="fa fa-pencil"></i>'}}<br>
        </li>
        <li class="list-group-item">
            <strong>Correo electrónico: </strong>{{> editableText collection="users" field="profile.correoelectronico" acceptEmpty=true substitute='<i class="fa fa-pencil"></i>'}}<br>
        </li>
        <li class="list-group-item">
          <strong>RFC: {{> editableText collection="users" field="profile.rfc" acceptEmpty=true substitute='<i class="fa fa-pencil"></i>'}}</strong>
        </li>
      </ul>
    </div>
    <div class="box-body box-profile col-md-6">
      <ul class="list-group list-group-unbordered">
        <li class="list-group-item">
          <strong>Dirección 1: </strong>{{> editableText collection="users" field="profile.envio.direccion1" acceptEmpty=true substitute='<i class="fa fa-pencil"></i>'}}<br>
        </li>
        <li class="list-group-item">
          <strong>Dirección 2: </strong>{{> editableText collection="users" field="profile.envio.direccion2" acceptEmpty=true substitute='<i class="fa fa-pencil"></i>'}}<br>
        </li>
          <li class="list-group-item">
            <strong>Ciudad:</strong>{{> editableText collection="users" field="profile.envio.ciudad" acceptEmpty=true substitute='<i class="fa fa-pencil"></i>'}}<br>
        </li>
        <li class="list-group-item">
            <strong>Provincia: </strong>{{> editableText collection="users" field="profile.envio.provincia" acceptEmpty=true substitute='<i class="fa fa-pencil"></i>'}}<br>
        </li>
        <li class="list-group-item">
          <strong>Departamento: </strong>{{> editableText collection="users" field="profile.envio.departamento"  acceptEmpty=true substitute='<i class="fa fa-pencil"></i>'}}<br>
        </li>
        <li class="list-group-item">
          <strong>Código postal: </strong>{{> editableText collection="users" field="profile.envio.codigopostal" acceptEmpty=true substitute='<i class="fa fa-pencil"></i>'}}<br>
        </li>
        <li class="list-group-item">
          <strong>País:</strong> {{> editableText collection="users" field="profile.facturacion.pais" value="México" acceptEmpty=true substitute='<i class="fa fa-pencil"></i>'}}<br>
        </li>
        <li class="list-group-item">
          <strong>Teléfono: </strong>{{> editableText collection="users" field="profile.facturacion.telefono" type="number" acceptEmpty=true substitute='<i class="fa fa-pencil"></i>'}}<br>
        </li>
        <li class="list-group-item">
          <strong>Estado: </strong>{{> editableText collection="users" field="profile.facturacion.estado" acceptEmpty=true substitute='<i class="fa fa-pencil"></i>'}}
        </li>
      </ul>
    </div>

      <!-- this row will not appear when printing -->
      <div class="row no-print">
        <div class="col-xs-12">
          <!--<button class="btn btn-default" data-toggle="modal" data-target="#agregarALaOrden">
          Agregar a la orden
          </button>-->
          <!--{{> ModalAgregarALaOrden}}-->
          <!--a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Imprimir</a>-->
          <!--<button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;">
            <i class="fa fa-download"></i> Generate PDF
          </button>-->
        </div>
      </div>
      {{> back}}
	</section>
</template>
