.producto-tarjeta {
    background-color: #629133;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    min-height: 400px;
    margin-top: 20px;
    font-size: 20px;
}

.mh160 {
	margin-top: 10px;
	max-height: 160px;
}