<template name="OrdenInner">
	{{#each ordenes}}
		{{> ContentHeaderOrden}}
		{{> OrdenContenido}}
	{{/each}}
</template>

<template name="ContentHeaderOrden">
  <section class="content-header">
      <h1>
        Orden No. {{noorden}}
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
  </section>
</template>

<template name="OrdenContenido">
	<section class="invoice">
      <!-- title row -->
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <img src="/Lechuga Ocejo@1x.svg" style="height: 50px;"> De ocejo
            <small class="pull-right">Fecha de creación: 2/10/2014</small>
          </h2>
        </div>
        <!-- /.col -->
      </div>
      <!-- info row -->
      <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
          Proveedor
          <address>
            <strong>De Ocejo</strong><br>
            Regio parque 101<br>
            Regio Parque Industrial<br>
          </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
          Para
          <address>
            <strong>John Doe</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
          </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
          <b>Número de orden {{noorden}}</b><br>
          <br>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12 table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Qty</th>
              <th>Descripción</th>
              <th>Línea</th>
              <th>Etiqueta</th>
              <th>Valor del pedido</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>ZANAHORIA RALLADA</td>
              <td>Precortados</td>
              <td>Mr. Lucky</td>
              <td>$64.50</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <!--
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Amount Due 2/22/2014</p>
          <div class="table-responsive">
            <table class="table">
              <tbody><tr>
                <th style="width:50%">Subtotal:</th>
                <td>$250.30</td>
              </tr>
              <tr>
                <th>Tax (9.3%)</th>
                <td>$10.34</td>
              </tr>
              <tr>
                <th>Shipping:</th>
                <td>$5.80</td>
              </tr>
              <tr>
                <th>Total:</th>
                <td>$265.24</td>
              </tr>
            </tbody></table>
          </div>
        </div>
      </div>
      -->

      <!-- this row will not appear when printing -->
      <div class="row no-print">
        <div class="col-xs-12">
          {{> ListaProductos}}
          <!--<button class="btn btn-default" data-toggle="modal" data-target="#agregarALaOrden">
          Agregar a la orden
          </button>-->
          <!--{{> ModalAgregarALaOrden}}-->
          <!--a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Imprimir</a>-->
          <!--<button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;">
            <i class="fa fa-download"></i> Generate PDF
          </button>-->
        </div>
      </div>
	</section>
</template>
<template name="ListaProductos">
        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Agrega productos a la orden</h3>

              <div class="box-tools pull-right">
                <div class="has-feedback">
                  <input type="text" class="form-control input-sm" placeholder="Buscar producto">
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="mailbox-controls">
                <div class="pull-right">
                  1-50/200
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                  </div>
                  <!-- /.btn-group -->
                </div>
                <!-- /.pull-right -->
              </div>
              <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                  <tbody>
                    {{#each inventario}}
                      {{> ProductoAgregar}}
                    {{/each}}
                  </tbody>
                </table>
                <!-- /.table -->
              </div>
              <!-- /.mail-box-messages -->
            </div>
          </div>
</template>
<template name="ProductoAgregar">
  <tr>
    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox"></div></td>
    <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
    <td class="mailbox-name"><a href="read-mail.html">Zanahoria rallada</a></td>
    <td class="mailbox-subject"><b>
      Caja con 100 zanahorias</b>
    </td>
    <td>
      <select class="1-100"></select>
    </td>
  </tr>
</template>